<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de orçamento</title>
</head>

<body>
    <div>
        <form action="{{ url_for('orcamento') }}" method="post">
            <label for="cep">CEP</label>
            <input name="cep" id="cep" type="text" required />
            <label for="logradouro">Logradouro</label>
            <input name="logradouro" id="logradouro" type="text" required />
            <label for="complemento">Complemento</label>
            <input name="complemento" id="complemento" type="text" />
            <label for="numero_endereco">Numero do Endereco</label>
            <input type="text" id="numero_endereco" name="numero_endereco" />
            <label for="cidade">Cidade</label>
            <input name="cidade" id="cidade" type="text" required />
            <label for="uf">Estado</label>
            <input name="bairro" id="bairro" type="text" required />
            <label for="uf">Estado</label>
            <select name="uf" id="uf">
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
            </select>
            <label for="nome_cliente">Nome do Cliente</label>
            <input type="text" id="nome_cliente" name="nome_cliente" />
            <label for="observacoes">Observações</label>
            <input type="text" id="observacoes" name="observacoes" />
            <label for="valor_total">Valor Total</label>
            <input type="text" id="valor_total" name="valor_total" />
            <button type="submit">Cadastrar</button>
        </form>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>

</html>