<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Clear Grant</title>>
    <link rel="shortcut icon" href="Static/images/twitter-icone.png"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="static/css/main.css">

</head>

<body>

<div class="wrapper fadeInDown">
    <div id="formContent">

        <div class="fadeIn first">
            <img src="/static/images/logo.png" id="icon" alt="User Icon" width="60" height="60">
        </div>


        <form action="{{ url_for('register') }}" method="post">
            <h3>Nome</h3>
            <input type="text" id="name" class="fadeIn second" name="name" required="required">
            <h3>E-mail</h3>
            <input type="text" id="email" class="fadeIn second" name="email" required="required">
            <h3>Senha</h3>
            <input type="password" name="password" id="password" required size="10"/>
            <input type="submit" class="fadeIn fourth" value="Cadastrar">
        </form>


        <div id="formFooter">
            <a class="underlineHover" href="/login">Já tenho um cadastro</a>
        </div>

    </div>
</div>

<script type="text/javascript" src="static/js/main.js"></script>
</body>

</html>